[Unit]
Description=Vodafone Crowd Cell client autorun service
Wants=network-online.target
After=nss-lookup.target

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/Weather_Station_Elis/VodafoneClient.py
WorkingDirectory=/home/pi/Weather_Station_Elis
Restart=always
RestartSec=15
TimeoutSec=30

[Install]
WantedBy=multi-user.target